<div [ngStyle]="divStyle">
  <!--            SIDE NAV            -->
  <div class="col-md-3" style="height: 100%; padding-right: 40px;">
    <div class="row"
         style="height: 100%; width: 100%;
          box-shadow: lightgrey 2px 2px 2px; padding: 20px;
          overflow-x: auto">
      <app-time-line></app-time-line>
    </div>

  </div>

  <div class="col-md-9" style="height: 100%;">

    <!--          TOP HALF            -->
    <div class="row" style="height: 50%;">

      <!--LEFT-->
      <div class="col-md-6" style="height: 100%;">
        <div class="row"
             style="height: 100%; box-shadow: lightgrey 2px 2px 2px; padding: 20px; background: #f9f9f9;">
          <app-resume></app-resume>
        </div>
      </div>

      <!--RIGHT-->
      <div class="col-md-6" style="height: 100%;">
        <div class="row" style="height: 100%; box-shadow: lightgrey 2px 2px 2px;">
          <div class="col-md-4">
            <app-front-end-skill></app-front-end-skill>
          </div>
          <div class="col-md-4">
            <app-back-end-skill></app-back-end-skill>
          </div>
          <div class="col-md-4">
            <app-db-skill></app-db-skill>
          </div>
        </div>
      </div>

    </div>

    <!--          BOTTOM HALF           -->
    <div class="row" style="height: 50%; box-shadow: lightgrey 2px 2px 2px; margin-top: 10px; overflow: hidden;">
      <video autoplay muted loop id="myVideo" style="width: 100%;">
        <source src="assets/video/sea_view.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>
  </div>
</div>

